.Battlefield {
    table-layout: fixed;
}
.Battlefield caption{
    font-size: 25px;
}
.Battlefield th{
    font-weight: normal;
}
.Battlefield td{
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 2px solid rgba(255, 72, 72, 0.5);
    transition: 0.5s ease-in-out;
}
.enemy td:hover{
    cursor: pointer;
    background: rgba(255, 36, 36, 0.2);
}
.Battlefield td.ship {
    background: rgba(215, 255, 36, 0.5);
}
.Battlefield td.hit {
    box-shadow: 4px 4px 10px -4px rgba(0,0,0,0.75);
    background: rgba(255, 0, 0, 0.5);
}
.Battlefield td.miss {
    transform:rotateY(180deg);
    background: rgba(55, 0, 255, 0.5);
}
